* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;

}

body {
    display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
}

.header {
    height: 150px;
    background-color: rgb(154 110 185);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;  
}

.title {text-align: center;
    padding: 10px;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);

}

.main {
    background-color: rgb(221, 204, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow: auto;

}

/* Css TIME */
.timer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock {
    font-size: 32px;
    text-shadow: -1px 0px 15px rgba(0, 0, 0, 0.25);
    color: rgb(154 110 185);
}

.number {
    display: inline-block;
    width: 90px;
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 60px;
    text-shadow: -1px 0px 15px rgba(8, 7, 7, 0.25);
    border: none;
    color: rgb(78, 76, 76);
    background-color: transparent;}

 @media all and (min-width: 740px) {
    .number {
    width: 110px;
    font-size: 100px;
}}



.timer-button {
    margin-right: 20px;
    color: rgb(121, 107, 131);
    font-size: 32px;
    font-weight: 700;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 20px;
}


/* Css Blender */

.blender {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 500px;
    background-image: url("../images/licuadoraApagada.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.blender-button {
    margin: 172px auto 0px;
        width: 55px;
        height: 60px;

}

.blender.active {
    background-image: url("../images/licuadoraEncendida.gif");
}


 @media all and (min-width: 768px) {
    .blender {
        width: 800px;
        height: 400x;
        }

        .blender-button {
            margin: 285px auto 0px;
            
        }

     }
 
