* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.header {
    height: 70px;
    background-color: rgb(154 110 185);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    width: 100vw;
}

.main {
    background-color: rgb(221, 204, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Css TIME */
.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock {
    font-size: 32px;
    text-shadow: -1px 0px 15px rgba(0, 0, 0, 0.25);
    color: rgb(154 110 185);
}

.number {
    display: inline-block;
    width: 110px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 100px;
    text-shadow: -1px 0px 15px rgba(8, 7, 7, 0.25);
    border: none;
    color: rgb(78, 76, 76);
    background-color: transparent;
}

.timer-button {
    margin: 20px;
    margin-right: 10px;
    color: rgb(121, 107, 131);
    font-size: 32px;
    font-weight: 700;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
}


/* Css Blender */

.blender {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    background-image: url("../images/licuadoraApagada.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.blender-button {
    margin: 350px auto 0px;
    width: 70px;
    height: 70px;
}

.blender.active {
    background-image: url("../images/licuadoraEncendida.gif");
}